.title{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



#container{
    border: 2px solid red;
    width: fit-content;
    min-width: 50px;
}
.text-class {
    color: aqua;
    text-align: center;

}